main {
  background-color: #212529;
  padding-top: 90px;
}
main div table thead tr td {
  width: 200px;
}
.logout {
  background: none;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
}
.icons {
  background: none;
  border: none;
}
.icons img {
  width: 22px;
  height: auto;
}
.userTable {
  text-align: center;
}
@media screen and (max-width: 992px) {
  main {
    padding-top: 0;
  }
}
