main {
  background: url(../img/family-doctor-035.png) #eeeeee;
  padding: 130px 0 40px 0;
}
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
}
.consult {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  padding: 20px;
  gap: 30px;
}
.consult h2 {
  font-size: 55px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-align: center;
}
.consult form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.consult form div {
  display: flex;
  justify-content: center;
  gap: 25px;
}
.consult form div label input {
  background-color: #f8f8f8;
  width: 210px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  font-family: "Roboto", sans-serif;
}
.consult form div select {
  background-color: #f8f8f8;
  width: 210px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  font-family: "Roboto", sans-serif;
}
.consult form textarea {
  background-color: #f8f8f8;
  resize: none;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
.consult form button {
  background-color: #f8f8f8;
  border: none;
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
.contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contact div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contact div h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 90px;
  color: #005450;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
.contact div p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  width: 400px;
  font-size: 20px;
  color: #005450;
}
.info {
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
  padding: 40px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
}
.info li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.info li div {
  gap: 0;
}
@media screen and (max-width: 992px) {
  main {
    padding: 20px 0;
  }
}
@media screen and (max-width: 500px) {
  .content {
    flex-direction: column;
    gap: 20px;
  }
  .info {
    padding: 15px;
  }
  .contact {
    width: 100%;
  }
  .contact div {
    gap: 0;
  }
  .contact div h1 {
    font-size: 60px;
    text-align: center;
  }
  .contact div p {
    width: auto;
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
  }
  .consult {
    width: 100%;
    gap: 15px;
  }
  .consult div {
    flex-direction: column;
  }
  .consult h2 {
    font-size: 30px;
  }
  .consult form div {
    flex-wrap: wrap;
  }
  .consult form div label input {
    width: 100%;
  }
  .consult form div select {
    width: 100%;
    padding: 5px;
  }
}
